<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Universal software market</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/home">If it isn't broken, take it apart and fix it..<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-if="!currentUser" href="#/login">Sign In</a></li>
                <li><a ng-if="currentUser" href="#/app">Hi {{currentUser.displayName}}!</a></li>
                <li><a ng-if="currentUser" ng-controller="AppController as app" ng-click="app.logout()" style="cursor: pointer;">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>
<br clear="both" />
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>