<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="text-align: center;" href="#">Universal Software Market</a>
        </div>
    </div>
</div>
<br clear="both" />
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>