<div ng-include="'webui/views/common/header.html'"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Universal Software Market</h1>
        <p>&nbsp;</p>
        <p>Welcome to USM home page</p>
        <p>&nbsp;</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

    <div ng-include="'webui/views/common/footer.html'"></div>
</div>